@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
}

/* body{
    height: 100vh;
} */

.bg_color {
    background-color: #F7F7F7;
}

.navbar {
    background-color: #fff;
}

.logo img {
    width: 50%;
    image-rendering: -webkit-optimize-contrast;
}

.input_field {
    border: 1px solid #ddd !important;
    background-color: #F7F7F7 !important;
    font-size: 14px !important;
    font-family: Helvetica Neue;
}

.input_field::placeholder {
    font-size: 14px !important;
    font-family: Helvetica Neue;
    color: #868E96;
}

.input_field:focus {
    border: 1px solid #FF6347;
    background-color: #fff !important;
}

.user_info {
    text-decoration: none;
}

.user_info span,
.user_info:hover span {
    text-decoration: none;
    color: #212529;
}


.header {
    box-shadow: 4px 3px 11px 2px #ddd;
}


/* ======================== Dashboard page design =========================== */

.no-gutter {
    padding: 0;
    margin: 0;
}


.tab_menu_set,
.tab_filter {
    background-color: #fff;
}

.common_result {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
}

.tab_filter_result {
    width: 70% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#myInput:focus {
    border: 0;
    outline: 0;
}

#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: none;
    margin-bottom: 12px;
}

.filter_btn_row {
    margin: 10px 5px;
}

.filter_btn {
    background-color: #EBEBEB !important;
    border-radius: 25px !important;
    border: none;
    color: #000;
    font-size: 14px !important;
    padding: 5px 15px !important;
}

.filter_btn.active,
.filter_btn:focus,
.filter_btn:hover {
    background-color: #FF6347 !important;
    color: #fff !important;
    transition: 0.4s;
}

.filter_content div {
    padding: 10px 5px;
    border-bottom: 1px solid #dddddd91;
}

.filter_content {
    text-decoration: none;
}

.filter_content div h5 {
    font-size: 16px;
    color: #000;
}

.filter_content div p {
    color: #666666;
    line-height: 8px;
}

.filter_content div p:first-child {
    font-size: 15px !important;
}

.filter_content div p:last-child {
    font-size: 14px !important;
}

.filter_content:hover div {
    background-color: rgb(255, 99, 71, 7%);
    transition: 0.3s;
}

.filter_content:hover h5 {
    color: #FF6347;
    transition: 0.4s;
}

.status_on {
    color: #42B32D;
}

.status_off {
    color: #FF3E14;
}


/* Custom ScrollBar */
.common_result::-webkit-scrollbar {
    width: 5px;
}

.common_result::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.common_result::-webkit-scrollbar-thumb {
    background: #FF6347;
}

.common_result::-webkit-scrollbar-thumb:hover {
    background: #f83e1d;
}

/* ===================== Mobile design start ======================= */
.SlideDownMenu {
    position: fixed;
    bottom: 25px;
    width: 100%;
    /* height: 400px; */
    background-color: #fff;
    border-radius: 18px 18px 0 0;
}

.SlideDownMenu nav {
    background-color: #fff;
    /* display: none; */
    height: auto;
    bottom: 0;
}

/*Menu Tap*/
.MenuTab {
    margin: 0 auto;
    /* display: block; */
    /* height: 400px; */
    width: 40px;
    position: relative;
}

/*Nav Tap*/
.slideNavTab {
    text-align: center;
    height: 25px;
}

/*Border*/
.slideNavTab a {
    position: absolute;
    top: 29px;
    left: 0;
}

#bottomnav{
    display: block;
}

.slideNavTab a:before {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 25px;
    height: 0.125em;
    border-bottom: 0.2em solid #ddd;
}

.SlideDownMenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 22px 0;
    text-align: center;
}

.SlideDownMenu ul li {
    display: inline-block;
}

.SlideDownMenu ul li a {
    position: relative;
    z-index: 1;
    /* display: block; */
    padding: 12px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

.SlideDownMenu ul li a:hover {
    color: #fff;
}

.SlideDownMenu ul li a:after {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #8e44ad;
    border-radius: 5px;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

.SlideDownMenu ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}


/*========================== Map ==========================*/
.googlemap {
    height: 300px;
}


/* =============== Mobile Menu ============== */
.mobile_logo{
    width:10%;
    margin: 15px 0;
}

  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: transparent;
}
  
.openbtn:hover {
    color: #FF6347;
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #ff6347;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
}

.mobile_logout{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mobile_logout a{
    padding: 0 0 15px 0;
}

/* ================= Bus Company Design Start ================ */

.heading h2{
    font-size: 16px;
}

.single_company_detail{
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #f1efef;
}

.single_company_detail:last-child{
    border-bottom: 1px solid #f1efef;
}


.single_company_detail:nth-child(odd){
    background-color: #fff;
}

.single_company_detail:nth-child(even){
    background-color: #f7f7f7;
}

.single_company_detail p{
    margin: 0 0 7px 0;
    line-height: 15px;
}

.company_detail{
    margin-left: 10px;
}

/* ================= Rides page Design Start ================= */

.mobile_fare{
    margin-left: 15% !important;
}

.single_company_detail p span{
    font-weight: 600;
}

/* ================= Counter Wise Report Design Start ================= */

.status_on {
    color: #42B32D;
}

.status_off {
    color: #FF3E14;
}

.detail_modal_btn{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.detail_modal_btn:hover{
    transition: 0.4s;
    color: #ff6347;

}

/* ================= Filter button Design ================= */
.filter_modal_btn{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    border: none;
    font-size: 14px;
    padding: 8px 15px;
    color: #FF6347;
}
.filter_modal_btn:hover{
    background: #FF6347;
    color: #FFFFFF;
    transition: 0.4s;
}

.modal_close_btn{
    background-color: transparent;
    outline: 0;
    border: none;
    color: #000;
    font-size: 28px;
}
.modal_close_btn:hover{
    color: #FF6347;
    transition: 0.4s;
}

.modal_animation{
    animation: animatezoom 0.6s;
    border-radius: 17px !important;
}

@keyframes animatezoom{
    from{
        transform:scale(0)
    } 
    to{
        transform:scale(1)
    }
}

.common_modal_btn {
    padding: 10px;
    border: none;
    background-color: transparent !important;
    text-transform: uppercase;
    font-weight: 600;
}

/* ===================== Custom Select Menu Design start ==================== */

.custom_select_menu{
    padding: 10px 20px;
    margin: 10px auto;
    border: 1px solid #F7F7F7;
    border-radius: 7px !important;
    box-shadow: inset 0px 0px 13px 2px #F7F7F7;
    color: #868E96;
    background-color: #F7F7F7 !important;
    cursor: pointer;
}

.custom_select_menu:focus{
    outline: 0 !important;
    border: 1px solid #F7F7F7 !important;
    box-shadow: inset 0px 0px 13px 2px #F7F7F7 !important;
}

.corporate_color{
    color: #FF6347;
}

.default_color{
    color: #868E96;
}